/* body{
    display: flex-center;
    justify-content: center;
    
    
} */
center{
    border: 2px solid;
}
h1{
    color:  blue;
}

button{
    color: white;
    background: linear-gradient(60deg,blue,green,red);
    margin: 3px;
    padding: 6px;
    border-radius: 15%;

}
hr{
    padding: 2px;
}